<center><h1>Welcome to Blurb</h1>

<div id="custom-form-signup">
<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :username, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bio, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :bio, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Profile Picture URL", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.url_field :profile_picture, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <%= f.submit "Save", class: "center-block btn btn-default"%>
  </div>
<% end %>
</div></center>
