
<div class="thumbnail col-xs-8">
  <div class="caption-full">
    <h2><%= @user.name %></h2>
    <h4>Username: <%= @user.username %></h4>
    <!-- <%= link_to "Follow this User", follow_path(id:@user.id) %> -->
    <h4>Bio: </h4>
    <p><%= @user.bio %></p>
    <h4>Email: <%= mail_to @user.email %></h4>
  </div>
</div>
<div class="col-xs-4">
  <%= image_tag(@user.profile_picture) %>
</div>
<div class="container">
  <div class="col-xs-6">
    <h1>Followers</h1>
    <ul>
      <% @user.followers.each do |u| %>
        <li><%= link_to User.find(u.id).username, user_path(id:u.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-6">
    <h1>Following</h1>
    <ul>
      <% @user.all_following.each do |u| %>
        <li><%= link_to User.find(u.id).username, user_path(id:u.id) %></li>
      <% end %>
    </ul>
  </div>
</div>
